.opros {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F7F9FB 100%);
    padding-top: 80px;
    

    h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        color: #333333;
        margin: 0;
        padding-bottom: 32px;

    }

    &_card_div {
        
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding-left: 66px; 

        &_tabrespon{
            display: flex;
            
            gap: 30px;
            padding-bottom: 30px;

        }
        .opros_card {
            position: relative;
            background-color: white;
            box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.08);
            height: 210px;
            width: 350px;        
            border-radius: 9px;
            padding: 24.62px 0px 0px 24.63px;

            h6 {
                margin: 0;
                padding-top: 16.63px;

                font-weight: 700;
                font-size: 18px;
                line-height: 22px;



                color: #333333;
            }

            p {
                margin: 0;
                padding-top: 8px;
                max-width: 236px;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #333333;

                span {
                    font-weight: 700;

                }
                img{
                    padding-top: 5px;
                }

               
               
            }

            .opros_frame{
                position: absolute;
                right: 0;
                bottom: -4px;
            }

            
        }

    }

}



@media(max-width:1024px){

    .opros {
       

        &_card_div {
            padding-bottom: 30px;
            display: block;

            &_tabrespon{

                display: flex;
            
            }
                   
            .tabresponcard{               
                height: 210px;
                width: 728px;        
               

            p{
                max-width: 546px;
               
                img{
                    padding-top: 10px;
                }
               
               
            }



                
            }
    
        }



    }





}


@media(max-width:670px){

    .opros {
       

        &_card_div {
            display: block;
            
              
            

            &_tabrespon{

                display: block;
                .tab{
                    margin-bottom: 30px;
                }
               

             

            
            }
                   
            .tabresponcard{               
                height: 210px;
                width: 350px;        
               

            p{
                max-width: 236px;
               
               
               
               
            }



                
            }
    
        }



    }


}